@import url(./fonts.css);

html,body{
    margin: 0%; 
    box-sizing: border-box;
    overflow-x: hidden;
}
*{
	margin: 0;
	padding: 0;
}

:root{
    
    /* theme colors */
    --text-gray:#3f4954;
    --text-light:#686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;
    --tamy: #7ed957;

    /* theme font-family */
    --Lexend:'Lexend',cursive;
    --Abel:'Abel',cursive;
    --Anton:'Anton',cursive;
    --Josefin:'Josefin',cursive;
	--Livvic:'Livvic',cursive;
	--Roboto: 'Roboto', sans-serif;
}

/* Global Classes */
a{
    text-decoration: none; 
    color: var(--text-gray);
}

.flex-row{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
}
header{
	width: 100%;
	height: 80px;
	margin-top: 0;
	background-color:#fff;
}
ul{list-style-type: none;}

i{padding: 0 .2rem;}

h1{
	text-align: center;
	font-family:var(--Roboto);
	font-size: 1.5em;
	font-weight: 800;
	color: var(--midnight);
	padding-top:1em;
}

h2{
    font-family: var(--Roboto);
    font-size: 1.2rem;
    color:var(--Anton);
}

h3{
    font-family:var(--Abel);
    font-size: 1.5rem;
    color: var(--white);
}

h4{
    font-family: var(--bold_Nuni);
    color:var(--text-gray);
}

h6{
	font-family:var(--Roboto);
	font-size: 0.8em;
	font-weight: 500;
}

.btn{
    border: none;
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    font-family: var(--reg_Mont);
    cursor: pointer;
	color:var(--tamy);
	margin: 2px auto;
	display: flex;
    align-items: center;
	background: none;
}
.btn:focus{
	outline: thin dotted;
	outline: 0px auto -webkit-focus-ring-color;
	outline-offset: 0px;
	outline: thin dotted;
	outline: 0px auto -webkit-focus-ring-color;
	outline-offset: 0px;
	}
.container{margin: 0 5vw;}

p{
    font-family:var(--Josefin);
    color:var(--bg-color);
}
/*x Global Classes x*/


/* Site Cards */
.site-cards{
	display: inline-flex;
	background-color: #273746;
}
 
.course {
	background-color:#fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
    margin: 16px;
    align-items: center;
	overflow: hidden;
	width: 40rem;
	color: var(--white);
}

.course h4 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-preview {
	background-color: var(--midnight);
	color: #fff;
	padding: 30px;
	max-width: 250px;
}

.floresta{
	background-image: url('https://cdn.pixabay.com/photo/2014/09/07/22/17/forest-438432_960_720.jpg');
	background-size: 100%;
}
.palestra{
	background-image: url('https://image.freepik.com/fotos-gratis/vista-traseira-de-audiencia-escutar-alto-falantes-ligado-a-fase-em-a-corredor-conferencia-ou-seminario-reuniao_41418-3371.jpg');
	background-size: 100%;
}
.show{
	background-image: url('https://image.freepik.com/fotos-gratis/luzes-de-discoteca-azuis_106386-97.jpg');
	background-size: 100%;
}
.encontro{
	background-image: url('https://image.freepik.com/fotos-gratis/padre-segurando-o-calice-durante-uma-missa-nupcial-de-cerimonia-de-casamento-conceito-de-religiao_139317-2036.jpg');
	background-size: 100%;
}
.votacao{
	background-image: url('https://image.freepik.com/fotos-gratis/vista-traseira-no-homem-caucasiano-executando-a-conferencia-de-parceiros-e-investidores-na-mesa-no-escritorio_153977-1782.jpg');
	background-size: 100%;
}

.bar{
	background-image: url('https://image.freepik.com/fotos-gratis/empregado-de-mesa-com-duas-canecas-de-cerveja-gelada-na-bandeja_147764-650.jpg');
	background-size: 100%;
}
.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress::after {
	border-radius: 3px;
	background-color: var(--tamy);
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 66%;
}

.progress-text {
	font-size: 10px;
	letter-spacing: 1px;
	font-size: 0.7em;
	font-weight: 300;
	color: var(--white);
	padding: 2px;
	
	font-family: var(--Roboto);
	border-radius: 2px;
}

.btncard {
	background-color: var(--midnight);
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	/* bottom: 30px; */
    right: 30px;
    margin-top: 10px;
    letter-spacing: 1px;
    cursor: pointer;
}
/*x Site Cards x*/


/*           Viewport less then or equal to 1130px           */
@media only screen and (max-width: 1130px){
    .main-cards{display: inline;}
}
/*     x      Viewport less then or equal to 1130px     x      */


/*           Viewport less then or equal to 750px           */
@media only screen and (max-width: 750px){
    .site-cards{
        display: block;
        width:100%;
	}
	
	.course{
		width: 39rem;
		margin: 0.5em auto;
	}
    
}
/*     x     Viewport less then or equal to 750px     x     */


/*           Viewport less then or equal to 520px           */
@media only screen and (max-width: 520px){
    
}
/*     x      Viewport less then or equal to 520px    x       */